<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047299217453-91g9a7fp8q4371jo7j9ocfhfpk8pgmfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047299217453-91g9a7fp8q4371jo7j9ocfhfpk8pgmfb</string>
	<key>API_KEY</key>
	<string>AIzaSyASwiwQEx8DBWd24b97t9pZmZWnr5FN_cM</string>
	<key>GCM_SENDER_ID</key>
	<string>1047299217453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.linguaFlutter.nikolaj</string>
	<key>PROJECT_ID</key>
	<string>lingua-c5d6c</string>
	<key>STORAGE_BUCKET</key>
	<string>lingua-c5d6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047299217453:ios:9643d21eb92618729280a4</string>
	<key>DATABASE_URL</key>
	<string>https://lingua-c5d6c-default-rtdb.firebaseio.com</string>
</dict>
</plist>